{% extends 'base.html' %}
{% block content %}
        <div class="form">
            <form class="form" method="post" action="">
                {% csrf_token %}
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6 offset-3">
                            <div class="form-group">
                                <input type="text" id = "Email" name="Email" class="form-control" placeholder="Email Id" value=""/ required>
                            </div>
                        </div>
                        <div class="col-md-6 offset-3">
                            <div class="form-group">
                                <input type="text" id = "Password" name="Password" class="form-control" placeholder="Password *" value=""/ required>
                            </div>
                        </div>
                        <!-- <div class="col-md-2 offset-10">
                            <div class="form-group">
                                {% if status %}
                                    <p style="color: red;">{{status}}</p>
                                {% else %}
                                    <p></p>
                                {% endif %}
                            </div> -->
                        </div>
                        <input type="submit" class="btnSubmit" value="Login">
                        <div class="mt-4">
                            <div class="d-flex justify-content-center links">
                                Don't have an account? <a href="{% url 'signup' %}" class="ml-2">Signup</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </form>
        </div>
{% endblock content %}