{% extends 'base.html' %}
{% block content %}
        <div class="form">
            <div class="note">
                <p>This is a simpleRegister Form made using Boostrap.</p>
            </div>
            <form class="form" method="POST" action="">
                {% csrf_token %}
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6 offset-3">
                            <div class="form-group">
                                <input type="valid" id = "Name" name="Name" class="form-control" placeholder="Your Name *" value=""/ required>
                            </div>
                        </div>
                        <div class="col-md-6 offset-3">
                            <div class="form-group">
                                <input type="text" id = "Email" name="Email" class="form-control" placeholder="Email Id" value=""/ required>
                            </div>
                        </div>
                        <div class="col-md-6 offset-3">
                            <div class="form-group">
                                <input type="text" id = "Password" name="Password" class="form-control" placeholder="Your Password *" value=""/ required>
                            </div>
                        </div>
                        <div class="col-md-6 offset-3">
                            <div class="form-group">
                                <input type="text" id = "CPassword" name="CPassword" class="form-control" placeholder="Confirm Password *" value=""/ required>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btnSubmit" value="Submit">

                    <div class="mt-4">
                        <div class="d-flex justify-content-center links">
                            Already have an account? <a href="{% url 'add_show' %}" class="ml-2">Login</a>
                        </div>
                    </div>

                </div>
            </form>
        </div>
{% endblock content %}